@mixin title {
    font-size: 5rem;
    font-weight: 600;
    font-family: $title;

    @media screen and (max-width: $mobile) {
        font-size: 3rem !important;
    }

    @media screen and (max-width: $tablet-m) {
        font-size: 3.8rem;
    }
}

@mixin text {
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    font-family: $text;
}

@mixin subtitle {
    font-size: 22px;
    font-weight: 600;
    font-family: $subtitle;
}

@mixin input {
    width: 100%;
    padding: 25px;
    color: $color--dark;
    border-radius: 25px;
    border: 1px solid $color--dark;
    background-color: transparent;

    &::placeholder {
        color: $color--dark;
    }
}

@mixin nav-link {
    color: $color--dark;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s;
    text-transform: uppercase;
    font-family: $text;

    &:hover,
    &:focus,
    &:active {
        color: $color--teal;
        font-weight: 900;
    }
}