// #btn-top {
//     padding: 20px;
//     z-index: 99;
//     right: 10px;
//     bottom: 10px;
//     display: none;
//     border: none;
//     outline: none;
//     position: fixed;

//     i {
//         color: $second--light;
//         font-size: 15px;
//     }
// }

#btn-top {
    right: 15px;
    bottom: 15px;
    padding: 20px;
    z-index: 100;
    display: none;
    border: none;
    position: fixed;
    i {
        color: $color--teal;
        font-size: 20px;
    }
}