.footer {
    .one {
        padding: 60px 0;

        @media screen and (max-width: $mobile) {
            padding: 60px 15px;
        }

        .logo {
            img {
                width: 15%;

                @media screen and (max-width: $mobile) {
                    width: 18% !important;
                }

                @media screen and (max-width: $tablet-m) {
                    width: 10%;
                }
            }

            h4 {
                margin-top: 24px;
                margin-left: 5px;
            }
        }

        h4,
        h5 {
            font-size: 17px;
        }

        ul {
            @media screen and (max-width: $mobile) {
                margin-top: 30px;
            }
        }

        h5 {
            @media screen and (max-width: $tablet-m) {
                margin-top: 30px;
            }
        }

        p,
        a {
            font-size: 14px;
        }
    }

    h6 {
        font-size: 14px;
        margin-top: 15px;
    }
}