* {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: alias;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

section {
    padding: 100px 0;

    @media screen and (max-width: $mobile) {
        padding: 140px 15px;
    }
}