.kanirgarden {

    .inf-text {
        position: absolute;
        background-color: white;
        span {
            font-size: 17px !important;
        }
    }

    .inf-t {

        @media screen and (max-width: $mobile) {
            left: 0% !important;
            margin-top: -2%;
        }

        @media screen and (max-width: $tablet-m) {
            left: -2%;
        }
    }

    .inf-sec {
        left: 50%;
        width: 320px;
        margin-top: -15%;

        @media screen and (max-width: $mobile) {
            left: 15% !important;
            margin-top: -18% !important;
        }

        @media screen and (max-width: $tablet-m) {
            left: 34%;
        }
    }
}

.infos-product {
    img {
        height: 625px;

        @media screen and (max-width: $mobile) {
            height: 320px !important;
        }

        @media screen and (max-width: $tablet-m) {
            height: 608px;
        }
    }
    .import-infos {
        span {
            i {
                font-size: 22px;
            }
        }
    }
}

.pres-product {
    img {
        @media screen and (max-width: $mobile) {
            height: 400px;
        }
    }
}